@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:600,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e905";
}

._icon-instagram:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._anim-show {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

._watcher-view ._anim-show {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.webp .image__img {
  background-size: cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 5.625rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6980392157);
}

.header._header-scroll {
  position: fixed;
  width: 100%;
  top: -200%;
  left: 0;
  min-height: 4.5625rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6980392157);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.header._header-show {
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
  top: 0;
}

.header._header-show .header__container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header._header-show .header__logo {
  width: 5.3125rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__logo {
  width: 6.25rem;
  padding-right: 1.25rem;
  z-index: 20;
}

.header__logo img {
  max-width: 100%;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: rem(20);
}

.menu__body {
  position: relative;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.625rem;
}

.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: #ED6B44;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu {
  position: relative;
  z-index: 200;
}

.icons {
  padding-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  font-size: 1.5625rem;
  z-index: 10;
}

.icons__in {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.icons__fb {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #000;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  text-align: center;
  max-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.footer__logo {
  width: 11.25rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__address {
  line-height: 1.4;
}

.footer__weight {
  font-weight: 600;
}

.items-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.items-footer__name {
  font-weight: 600;
}

.items-footer__number {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.time-footer {
  font-weight: 600;
}

.time-footer__info {
  line-height: 1.4;
}

.time-footer__info:not(:last-child) {
  margin-bottom: 0.5rem;
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-size: 1.875rem;
}

.icon-footer__inst {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-footer__fb {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.info {
  overflow: hidden;
}

.info__container {
  position: relative;
}

.info__container::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4078431373);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.info__items {
  position: relative;
  z-index: 5;
  max-width: 43.75rem;
  margin: 0 auto;
}

.info__title-block:not(:last-child) {
  margin-bottom: 1.25rem;
}

.info__text {
  line-height: 1.4;
  font-weight: 600;
}

.info__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.info__vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.info__vid video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
}

.info .title-block__title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 8px;
  color: #ED6B44;
  text-shadow: 0 -2px 0 #FCFCFC, 0 -2px 0 #FCFCFC, 0 2px 0 #FCFCFC, 0 2px 0 #FCFCFC, -2px 0 0 #FCFCFC, 2px 0 0 #FCFCFC, -2px 0 0 #FCFCFC, 2px 0 0 #FCFCFC, -1px -2px 0 #FCFCFC, 1px -2px 0 #FCFCFC, -1px 2px 0 #FCFCFC, 1px 2px 0 #FCFCFC, -2px -1px 0 #FCFCFC, 2px -1px 0 #FCFCFC, -2px 1px 0 #FCFCFC, 2px 1px 0 #FCFCFC, -2px -2px 0 #FCFCFC, 2px -2px 0 #FCFCFC, -2px 2px 0 #FCFCFC, 2px 2px 0 #FCFCFC, -2px -2px 0 #FCFCFC, 2px -2px 0 #FCFCFC, -2px 2px 0 #FCFCFC, 2px 2px 0 #FCFCFC;
}

.info .title-block__sub-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .title-block__sub-title::before {
  content: "";
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  top: 45%;
  left: -8%;
  background-color: #fff;
}

.info .title-block__sub-title::after {
  content: "";
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  top: 45%;
  right: -8%;
  background-color: #fff;
}

.info .title-block__small-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 8px;
  color: #000;
  text-shadow: 0 -2px 0 #FCFCFC, 0 -2px 0 #FCFCFC, 0 2px 0 #FCFCFC, 0 2px 0 #FCFCFC, -2px 0 0 #FCFCFC, 2px 0 0 #FCFCFC, -2px 0 0 #FCFCFC, 2px 0 0 #FCFCFC, -1px -2px 0 #FCFCFC, 1px -2px 0 #FCFCFC, -1px 2px 0 #FCFCFC, 1px 2px 0 #FCFCFC, -2px -1px 0 #FCFCFC, 2px -1px 0 #FCFCFC, -2px 1px 0 #FCFCFC, 2px 1px 0 #FCFCFC, -2px -2px 0 #FCFCFC, 2px -2px 0 #FCFCFC, -2px 2px 0 #FCFCFC, 2px 2px 0 #FCFCFC, -2px -2px 0 #FCFCFC, 2px -2px 0 #FCFCFC, -2px 2px 0 #FCFCFC, 2px 2px 0 #FCFCFC;
}

.image__container {
  padding-right: 0rem;
  padding-left: 0rem;
}

.image {
  position: relative;
  overflow: hidden;
}

.no-webp .image__img{
  background: url("../img/bas2.jpeg") center center no-repeat; }

.image__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  /* Розташовуємо фон позаду іншого контенту */
}

.image__img img {
  max-width: 100%;
}

.image__img::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4078431373);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.news {
  overflow: hidden;
  background-color: #000;
}

.news__container {
  overflow: hidden;
}

.news__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.news__title {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.2;
}

.news__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.news__text {
  line-height: 1.4;
}

.news__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.news__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.news__img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

.news__img img {
  max-width: 100%;
}

.news__img::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1254901961);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.coach {
  background-color: #d6d6d6;
  color: #000;
}

.coach__title-coach:not(:last-child) {
  margin-bottom: 2.5rem;
}

.title-coach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title-coach__small {
  line-height: 1.4;
  font-weight: 600;
}

.title-coach__small:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.title-coach__profi {
  font-size: 1.875rem;
  font-weight: 800;
}

.title-coach__profi:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-column {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-column__img-ibg_contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  height: 18.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.item-column__img-ibg_contain img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-width: 100%;
}

.item-column__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.4;
}

.item-column__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-column__text p:first-child {
  margin-bottom: 0.625rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

.maps-items {
  overflow: hidden;
  background-color: #a6a6a6;
}

.maps-items__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.maps-items__map {
  position: relative;
  padding-bottom: 60%;
}

.maps-items__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 53.125em) {
  .news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .news__items {
    padding-right: 1.875rem;
  }
}

@media (min-width: 93.75em) {
  .header__container {
    padding-top: 1.25rem;
  }

  .header__container {
    padding-bottom: 1.25rem;
  }

  .header__container {
    padding-right: 1.875rem;
  }

  .header__container {
    padding-left: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .footer__container {
    padding-top: 5rem;
  }

  .footer__container {
    padding-bottom: 5rem;
  }

  .footer__container {
    padding-right: 1.875rem;
  }

  .footer__container {
    padding-left: 1.875rem;
  }

  .info__container {
    padding-top: 17.5rem;
  }

  .info__container {
    padding-bottom: 15rem;
  }

  .info__container {
    padding-right: 1.875rem;
  }

  .info__container {
    padding-left: 1.875rem;
  }

  .info .title-block__title {
    font-size: 3.75rem;
  }

  .info .title-block__sub-title {
    font-size: 2.5rem;
  }

  .info .title-block__small-title {
    font-size: 2.5rem;
  }

  .image__container {
    height: 18.75rem;
  }

  .news__container {
    padding-top: 5rem;
  }

  .news__container {
    padding-bottom: 5rem;
  }

  .news__container {
    padding-right: 1.875rem;
  }

  .news__container {
    padding-left: 1.875rem;
  }

  .coach__container {
    padding-top: 5rem;
  }

  .coach__container {
    padding-bottom: 5rem;
  }

  .coach__container {
    padding-right: 1.875rem;
  }

  .coach__container {
    padding-left: 1.875rem;
  }

  .coach__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-column {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .maps-items__container {
    padding-top: 5rem;
  }

  .maps-items__container {
    padding-bottom: 5rem;
  }

  .maps-items__container {
    padding-right: 1.875rem;
  }

  .maps-items__container {
    padding-left: 1.875rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 0.625rem;
  }

  .header__container {
    padding-bottom: 0.625rem;
  }

  .header__container {
    padding-right: 1.25rem;
  }

  .header__container {
    padding-left: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-right: 1.25rem;
  }

  .footer__container {
    padding-left: 1.25rem;
  }

  .info__container {
    padding-top: 8.125rem;
  }

  .info__container {
    padding-bottom: 1.875rem;
  }

  .info__container {
    padding-right: 1.25rem;
  }

  .info__container {
    padding-left: 1.25rem;
  }

  .info .title-block__title {
    font-size: 1.875rem;
  }

  .info .title-block__sub-title {
    font-size: 1.5rem;
  }

  .info .title-block__small-title {
    font-size: 1.5rem;
  }

  .image__container {
    height: 4.375rem;
  }

  .news__container {
    padding-top: 1.875rem;
  }

  .news__container {
    padding-bottom: 1.875rem;
  }

  .news__container {
    padding-right: 1.25rem;
  }

  .news__container {
    padding-left: 1.25rem;
  }

  .coach__container {
    padding-top: 1.875rem;
  }

  .coach__container {
    padding-bottom: 1.875rem;
  }

  .coach__container {
    padding-right: 1.25rem;
  }

  .coach__container {
    padding-left: 1.25rem;
  }

  .coach__item:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .item-column {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .maps-items__container {
    padding-top: 1.875rem;
  }

  .maps-items__container {
    padding-bottom: 1.875rem;
  }

  .maps-items__container {
    padding-right: 1.25rem;
  }

  .maps-items__container {
    padding-left: 1.25rem;
  }
}

@media (max-width: 53.125em) {
  .news__items:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: #ed6b44;
    overflow: auto;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 10;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
    min-height: 5.625rem;
    background-color: #91432b;
    z-index: 10;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: end;
    padding-top: 9.375rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    row-gap: 1.875rem;
    font-weight: 600;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 15;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .item-column__img-ibg_contain:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .item-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .maps-items__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    font-size: 1.75rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 93.75em) {
@supports (padding-top: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem )) {
    .header__container {
      padding-top: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem )) {
    .header__container {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem )) {
    .header__container {
      padding-bottom: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4555084746rem  +  0.8474576271vw , 1.25rem )) {
    .header__container {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .header__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .header__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .header__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .header__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .footer__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .footer__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .footer__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .footer__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 8.125rem , 5.5826271186rem  +  12.7118644068vw , 17.5rem )) {
    .info__container {
      padding-top: clamp( 8.125rem , 5.5826271186rem  +  12.7118644068vw , 17.5rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 5.5826271186rem  +  12.7118644068vw , 17.5rem )) {
    .info__container {
      padding-top: calc(8.125rem + 9.375 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.6843220339rem  +  17.7966101695vw , 15rem )) {
    .info__container {
      padding-bottom: clamp( 1.875rem , -1.6843220339rem  +  17.7966101695vw , 15rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.6843220339rem  +  17.7966101695vw , 15rem )) {
    .info__container {
      padding-bottom: calc(1.875rem + 13.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .info__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .info__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .info__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .info__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3665254237rem  +  2.5423728814vw , 3.75rem )) {
    .info .title-block__title {
      font-size: clamp( 1.875rem , 1.3665254237rem  +  2.5423728814vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3665254237rem  +  2.5423728814vw , 3.75rem )) {
    .info .title-block__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 73.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem )) {
    .info .title-block__sub-title {
      font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem )) {
    .info .title-block__sub-title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 73.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem )) {
    .info .title-block__small-title {
      font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2288135593rem  +  1.3559322034vw , 2.5rem )) {
    .info .title-block__small-title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 73.75);
    }
}

@supports (height: clamp( 4.375rem , 0.4766949153rem  +  19.4915254237vw , 18.75rem )) {
    .image__container {
      height: clamp( 4.375rem , 0.4766949153rem  +  19.4915254237vw , 18.75rem );
    }
}

@supports not (height: clamp( 4.375rem , 0.4766949153rem  +  19.4915254237vw , 18.75rem )) {
    .image__container {
      height: calc(4.375rem + 14.375 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .news__container {
      padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .news__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .news__container {
      padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .news__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .news__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .news__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .news__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .news__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .coach__container {
      padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .coach__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .coach__container {
      padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .coach__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .coach__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .coach__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .coach__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .coach__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 2.1027542373rem  +  0.4237288136vw , 2.5rem )) {
    .coach__item:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , 2.1027542373rem  +  0.4237288136vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 2.1027542373rem  +  0.4237288136vw , 2.5rem )) {
    .coach__item:not(:last-child) {
      margin-bottom: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 73.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem ))) {
    .item-column {
      -webkit-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.9110169492rem  +  1.6949152542vw , 2.5rem ))) {
    .item-column {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .maps-items__container {
      padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .maps-items__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .maps-items__container {
      padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0275423729rem  +  4.2372881356vw , 5rem )) {
    .maps-items__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .maps-items__container {
      padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .maps-items__container {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .maps-items__container {
      padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .maps-items__container {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 93.75em) {
  .menu__list {
    font-size: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 93.75em) {
@supports (font-size: clamp( 1.75rem , 1.5466101695rem  +  1.0169491525vw , 2.5rem )) {
    .menu__list {
      font-size: clamp( 1.75rem , 1.5466101695rem  +  1.0169491525vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5466101695rem  +  1.0169491525vw , 2.5rem )) {
    .menu__list {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 73.75);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #ED6B44;
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .icons__in:hover {
    color: #ED6B44;
  }

  .icons__fb:hover {
    color: #ED6B44;
  }

  .items-footer__number:hover {
    color: #ED6B44;
    text-decoration: underline;
  }

  .icon-footer__inst:hover {
    color: #ED6B44;
  }

  .icon-footer__fb:hover {
    color: #ED6B44;
  }

  .item-column__img-ibg_contain:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .image__img{ background: url(../img/bas2.webp) center center no-repeat; }